:root{
	--main-orange: #f39519;
	--main-success: #0D9B4D;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,500;1,600;1,700&display=swap');
body {
	font-family: 'Open Sans', sans-serif;	
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #777777;
	font-style: normal;
}

img,
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
}
a:focus,
.btn:focus,
button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: var(--main-success);
	text-decoration: none;
}
a,
button {
	color: var(--main-orange);
	outline: medium none;
	text-decoration: none;
}

label{
	font-size: 1.0rem;
}

.btn:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}

.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
.list-wrap {
	margin: 0px;
	padding: 0px;
}
.list-wrap li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #777777;
	margin-bottom: 15px;
}

/*1. Main*/
.main {
	display: block;
	overflow: hidden;
	padding-top: 15vh;
	min-height: calc(100vh + 50vh);
}

/* 6. Banner */
.banner-area {
	padding: 2.0rem 0 1.8rem;
	position: relative;
    z-index: -1;
    top: 9rem
}

.banner-images {
	position: relative;
}
.banner-images::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -18px;
	width: 516px;
	height: 46px;
	background: #464646;
	filter: blur(30px);
	border-radius: 99px;
	z-index: -1;
}

.banner-shape {
	position: absolute;
	z-index: -99;
}
.banner-shape.one {
	left: -18px;
	top: -200%;
}
.banner-shape.two {
	left: -18px;
	top: 250%;
}

/* 22. Preloader */
#preloader {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 9999;
}
.tg-cube-grid {
  	width: 45px;
  	height: 45px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
}
.tg-cube-grid .tg-cube {
  	width: 33%;
  	height: 33%;
  	background-color: var(--main-success);
  	float: left;
  	-webkit-animation: tg-cubeGridScaleDelay 1.3s infinite ease-in-out;
  	animation: tg-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.tg-cube-grid .tg-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.tg-cube-grid .tg-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.tg-cube-grid .tg-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.tg-cube-grid .tg-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.tg-cube-grid .tg-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.tg-cube-grid .tg-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.tg-cube-grid .tg-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.tg-cube-grid .tg-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.tg-cube-grid .tg-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes tg-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  };
}

@keyframes tg-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  };
}
/*Slider*/
.slider img{
	display: block;
	height:  500px;
	width: 1920px;
}
.slider .slick-arrow{
	position: absolute;
	z-index: 2;
}

.slider .slick-dots {
	position: absolute;
	top: 60%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 60px 0 0;
	padding: 0 0;
}
.slider .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}
.slider .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: #fff;
	opacity: .6;
	border-radius: 50%;
	display: block;
	line-height: 1;
}
.slider .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}
.slider .slick-arrow:hover::before {
	opacity: 1;
}

/* 11. Video */

.video-bg {
	background-position: center;
	background-size: cover;
	position: relative;
	min-height: 75vh;
	display: flex;
	align-items: center;
	z-index: 1;
}
.video-bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: -6px;
	background-image: url(components/assets/img/bg/video_top_mask.png);
	width: 100%;
	height: 46px;
	background-repeat: repeat;
	background-position: center;
	z-index: 3;
}
.video-bg::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(components/assets/img/bg/video_bottom_mask.png);
	width: 100%;
	height: 36px;
	background-repeat: repeat;
	background-position: center;
	z-index: 3;
}
.video-bg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #090909;
	opacity: 0.5;
	z-index: 2;
}
.video-btn {
	position: absolute;
	z-index: 3;
	right: 44%;
	text-align: center;
	text-transform: uppercase;
}
.video-btn a {
	width: 172px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-size: 24px;
	background: #0D9B4D;
	color: #fff;
	border-radius: 50px;
}
.video-btn a:hover {
	animation-play-state: paused;
}
.ripple-white {
    border-radius: 50px;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    transition: .5s;
    -webkit-transition: .5s;
}
@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(13,155,77,0.3), 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3);
        box-shadow: 0 0 0 0 rgba(13,155,77,0.3), 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3), 0 0 0 30px rgba(255,255,255,0);
        box-shadow: 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3), 0 0 0 30px rgba(255,255,255,0);
    }
}
@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(13,155,77,0.3), 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3);
        box-shadow: 0 0 0 0 rgba(13,155,77,0.3), 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3), 0 0 0 30px rgba(255,255,255,0);
        box-shadow: 0 0 0 10px rgba(13,155,77,0.3), 0 0 0 20px rgba(13,155,77,0.3), 0 0 0 30px rgba(255,255,255,0);
    }
}
.video-shape {
	position: absolute;
	z-index: 4;
}
.video-shape.one {
	left: 0;
	bottom: -12%;
}
.video-shape.two {
	right: 0;
	bottom: -7%;
}

/* 21. Footer */
.footer-instagram {
	position: relative;
	z-index: 3;
	margin: 0 0 -95px;
}
.footer-insta-item a {
	display: block;
	position: relative;
}
.footer-insta-item a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--main-success);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.footer-insta-item a:hover::before {
	opacity: .8;
}
.footer-insta-item a::after {
	content: "\f16d";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	font-size: 70px;
	line-height: 1;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	opacity: 0;
}
.footer-insta-item a:hover::after {
	opacity: 1;
}
.footer-top-wrap {
	background: #0A0A0A;
	position: relative;
	padding: 100px 0 30px;
	overflow-x: hidden;
	z-index: 1;
}
.not-show-instagram .footer-top-wrap {
	padding: 120px 0 30px;
}

/* .footer-top-wrap::before {
	content: "";
	position: absolute;
	left: 0;
	top: -22px;
	width: 100%;
	height: 53px;
	background-image: url('../src/components/assets/img/footer/footer_bg_shape.png');
	background-repeat: repeat;
	background-position: center;
	z-index: -1;
} */

.footer-shape {
	position: absolute;
	z-index: -1;
}
.footer-shape.one {
	left: 0;
	bottom: 100px;
}
.footer-shape.two {
	right: 0;
	bottom: 170px;
}
.footer-widget {
	margin: 0 0 50px;
}
.footer-logo {
	margin: 0 0 30px;
}
.footer-widget .footer-text {
	width: 75%;
}
.footer-widget .footer-text p {
	margin: 0 0;
	color: #fff;
}
.footer-social {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
}
.footer-social a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1B1B1B;
	border-radius: 50%;
	color: #fff;
}
.footer-social a:hover {
	background: var(--main-success);
}
.footer-widget .fw-title {
	font-size: 20px;
	color: #fff;
	letter-spacing: 0.02em;
	margin: 0 0 30px;
}
.footer-widget ul li {
	margin: 0 0 12px;
}
.footer-widget ul li:last-child {
	margin: 0 0;
}
.footer-widget ul li a {
	color: #fff;
	opacity: .7;
}
.footer-widget ul li a:hover {
	color: var(--main-success);
	opacity: 1;
}
.footer-contact-wrap p {
	color: #fff;
	opacity: .7;
}
.footer-contact-wrap .list-wrap {
	margin: 30px 0 0;
}
.footer-contact-wrap .list-wrap li {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li i {
	color: var(--main-success);
	font-size: 18px;
	margin-right: 10px;
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+2) .footer-widget {
	padding-left: 30px;
}
.copyright-wrap {
	background: #0A0A0A;
	border-top: 1px solid #262626;
	padding: 25px 0;
}
.copyright-text p {
	margin: 0 0;
	color: #FFFFFF;
	opacity: .9;
}