.footer_main{
    background-color: black;
    height: 340px;
    display: flex;
    flex-direction: row;
}
.footer_one_from_left{
    background-color: black;
    height: 340px;
    width: 320px;
    margin-left: 20px;
}
.footer_main_logo{
    background-image: url(../../project_images/001.jpg);
    width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 4px;
}
.footer_main_caption{
    background-color: black;
    width: 300px;
    margin-left: 5px;
    margin-top: 5px;
    height: 230px;
    color: white;
}
.icons{
    /* background-color: palevioletred; */
    margin-top: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
}
.social_media{
    background-color: rgb(87, 85, 82);
    width: 60px;
    margin-left: 5px;
    border-radius: 30px; 
}
.footer_two_from_left{
    background-color: black;
    width: 280px;
    margin-left: 20px;
}
.footer_two_from_left_title{
    background-color: black;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-top: 8px;
    color: white;
}
.footer_two_from_left_body{
    /* background-color: chocolate; */
    height: 220px;
    margin-top: 32px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.line_spc{
    height: 25px;
}
.anchore{
    color: white;
}
.footer_three_from_left{
    background-color: black;
    margin-left: 10px;
    width: 354px;
}
.footer_three_from_left_title{
    background-color: black;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-top: 8px;
    color: white;
}
.footer_three_from_left_body_one{
    /* background-color: lavender; */
    margin-top: 15px;
    height: 50px;
    text-align: center;
    color: white;
}
.private_credentials{
    /* background-color: deeppink; */
    height: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.left_icon{
    background-color: darkblue;
    height: 42px;
    width: 50px;
    margin-top: 3px;
    margin-left: 60px;
    text-align: center;
}
.parameter{
    /* background-color: lightskyblue; */
    height: 42px;
    margin-top: 3px;
    margin-left: 8px;
    width: 200px;
    text-align: left;
    padding-top: 7px;
    color: white;
}
