/* .main-area-fix{
    
} */
.breadcrumb-area-breadcrumb-bg{
    background-color: darkcyan;
    height: 550px;
    background-image: url(../../components//assets/img/shop/wepik-export-20240211105156kWb2.jpeg);
}