.login, .register{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1; /* This makes the content area expand to fill available space */
}
.bg-register-image {
    background-image: url("../img/auth/registration.png");
    background-size: cover;
    background-position: top center;
}

.bg-login-image {
    background-image: url("https://cdn.gencraft.com/prod/user/9ede9366-f8f3-4ca0-9430-d1c2cf4501dd/171be77e-98a6-48e4-bf1a-c14ff6616d33/images/image0_0.jpg?Expires=1696539031&Signature=J5Q6NXpTw-QzYA0p82QIkaxHuu0vTDZz6kiv06l-nihqqr7KrR1FqRP~w~23n81cdWUP5WlblK4t07q4IE1x5wHPlXFi0b~-5GysWGGkcsx3gzyH46O8ANh7RqRqwLMy7OFSzzHoBwoe-QLWCsUlkC-x2lWhMN4WVeKNwZozCIazzkD1Wgei7H4ilEQavCEBThsNfBl2xjpUpOs5xVoQib7pmsQmt9fXumrdR4ms0wvDHF-swCYMSpdPciaYw8AbV9CHeD5JQ49Y72ufmTELPfYtyGnXq8OulRx0-z13Z9d993sGtLQMThHuO0qY~DKDWyFjyEKCjH6irNzZnqzFMA__&Key-Pair-Id=K3RDDB1TZ8BHT8");
    background-size: cover;
    background-position: top center;
}

.auth-heading {
    color: #000;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.form-control{
    border: 0.1rem solid #0000006c;
    border-radius: 3.0rem;
}

.form-control::placeholder{
    text-align: center;
}

.input-group-append{
    border-radius: 3.0rem;
}

/* button style */
.btn {
  margin: 0 auto;
  width: 50%;
	user-select: none;
	-moz-user-select: none;
	background: #0D9B4D none repeat scroll 0 0;
	border: medium none;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.4;
	padding: 19px 40px;
	text-align: center;
	text-transform: capitalize;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn::before {
	content: "";
	position: absolute;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	width: 200%;
	height: 200%;
	top: 110%;
	left: 50%;
	background: #FAA432;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: -1;
}
.btn:hover {
	color: #fff;
}
.btn-two {
	background: #FAA432 none repeat scroll 0 0;
}
.btn-two::before {
	background: #0D9B4D;
}
.btn:hover:before {
	top: -40%;
}
.breadcrumb > .active {
	color: #FAA432;
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}
  
.password-input i {
  position: absolute;
  top: 0%;
  right: 10px; /* Adjust the left position as needed */
  transform: translateY(-170%);
  cursor: pointer;
}

.password-input input {
  padding-left: 30px; /* Adjust the padding to make space for the icon */
}