

/* CSS Index
-----------------------------------

1. Theme default css
2. Header
3. Mobile-menu
5. Breadcrumb

7. Brand
8. Features
9. Features Products
10. Shop

16. Testimonial
18. Pagination
21. Footer


*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #777777;
	font-style: normal;
}
img,
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
}
a:focus,
.btn:focus,
button:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #FAA432;
	text-decoration: none;
}
a,
button {
	color: #FAA432;
	outline: medium none;
	text-decoration: none;
}
.btn:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	color: #222222;
	margin-top: 0px;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
.list-wrap {
	margin: 0px;
	padding: 0px;
}
.list-wrap li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #777777;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #777777;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #777777;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #777777;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #777777;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #777777;
	font-size: 16px;
	opacity: 1;
}
*::placeholder {
	color: #777777;
	font-size: 16px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #FAA432 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
.nav-link:focus {
	color: inherit;
}

/* Bootstrap 5 */
.container {
    padding-left: 0%;
    padding-right: 0%;
}
.row {
    --bs-gutter-x: 30px;
}
.row.g-0 {
	--bs-gutter-x: 0;
}
.gutter-y-30 {
  	--bs-gutter-y: 30px;
}
:root {
	scroll-behavior: auto;
}

/* button style */
.btn {
	user-select: none;
	-moz-user-select: none;
	background: #0D9B4D none repeat scroll 0 0;
	border: medium none;
	border-radius: 60px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 0;
	padding: 19px 50px;
	text-align: center;
	text-transform: capitalize;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn::before {
	content: "";
	position: absolute;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	width: 200%;
	height: 200%;
	top: 110%;
	left: 50%;
	background: #FAA432;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: -1;
}
.btn:hover {
	color: #fff;
}
.btn-two {
	background: #FAA432 none repeat scroll 0 0;
}
.btn-two::before {
	background: #0D9B4D;
}
.btn:hover:before {
	top: -40%;
}
.breadcrumb > .active {
	color: #FAA432;
}

/* scrollUp */
.scroll-top {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: -10%;
	right: 10px;
	font-size: 16px;
	border-radius: 50%;
	z-index: 99;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background: #0D9B4D;
	transition: 1s ease;
	border: none;
	opacity: 0;
}
.scroll-top.open {
	bottom: 10px;
	opacity: 1;
}
.scroll-top::after {
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 1;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.scroll-top:hover {
	background-color: #222222;
	opacity: 1;
}


/* 2. Header */
.custom-container {
    max-width: 1650px;
}
.transparent-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	height: auto;
}
.menu-area {
	padding: 23px 0;
}
.menu-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}
.logo img {
	max-width: 20%;
}
.navbar-wrap {
	display: flex;
	flex-grow: 1;
}
.navbar-wrap ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto 0;
	padding: 0;
}
.navbar-wrap ul li {
	list-style: none;
	display: block;
	position: relative;
}
.navbar-wrap ul li a {
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	color: #777777;
	padding: 38px 30px;
	display: block;
	line-height: 1;
	position: relative;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
	z-index: 1;
}
.main-menu .navigation li.menu-item-has-children .dropdown-btn {
    display: none;
}
.navbar-wrap ul li .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	min-width: 230px;
	border: 1px solid #f5f5f5;
	background: #ffffff;
	margin: 0;
	transform: scale(1 , 0);
	transform-origin: 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
	-moz-box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
	box-shadow: 0px 30px 70px 0px rgba(137,139,142,0.15);
	border-radius: 0;
	padding: 18px 0;
	display: block;
	visibility: hidden;
	opacity: 0;
	z-index: 9;
}
.navbar-wrap ul li .sub-menu .sub-menu {
	right: auto;
	left: 100%;
	top: 0;
}
.navbar-wrap ul li .sub-menu li {
	margin-left: 0;
	text-align: left;
	display: block;
}
.navbar-wrap ul li .sub-menu li a {
	padding: 9px 15px 9px 25px;
	line-height: 1.4;
	color: #777777;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-wrap ul li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
.header-action > ul {
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;
}
.header-action > ul li {
	position: relative;
	list-style: none;
	margin-left: 20px;
}
.header-action > ul > li:first-child {
	margin-left: 0;
}
.header-action > ul > li.header-shop-cart > a {
	padding-right: 10px;
}
.header-action > ul > li > a {
	display: block;
    color: #222222;
    font-size: 28px;
}
.header-action > ul > li:hover > a {
	color: #0D9B4D;
}
.header-shop-cart a.cart-count span.mini-cart-count {
	position: absolute;
	right: 0px;
	top: -2px;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	background-color: #FAA432;
	color: #fff;
	box-shadow: 0px 5px 12.09px 0.91px rgba(71, 51, 127, 0.14);
}
.header-action > ul li.offCanvas-btn a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	text-align: center;
	background: #0D9B4D;
	color: #fff !important;
	border-radius: 50%;
	font-size: 25px;
}
.transparent-header .navbar-wrap ul li a {
	color: #dcdcdc;
}
.transparent-header .header-action>ul>li>a {
	color: #ffffff;
}
.transparent-header .logo .secondary-logo {
	display: none;
}
.transparent-header.sticky-menu .logo .secondary-logo {
	display: block;
}
.transparent-header.sticky-menu .logo .main-logo {
	display: flex;
}
.transparent-header.sticky-menu .navbar-wrap ul li a {
	color: #777777;
}
.transparent-header.sticky-menu .header-action>ul>li>a {
	color: #222222;
}
.sticky-menu {
	position: fixed;
	left: 0;
	margin: auto;
	top: 0;
	width: 100%;
	z-index: 99;
	background: #fff;
	-webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	border-radius: 0;
	padding: 0 0;
}
.header-fixed-position {
	display: block;
	height: 138px;
}
.navbar-wrap ul li .sub-menu li.active>a,
.navbar-wrap ul li .sub-menu li:hover>a,
.transparent-header .navbar-wrap ul li.active>a,
.transparent-header .navbar-wrap ul li:hover>a,
.navbar-wrap>ul>li.active>a,
.navbar-wrap>ul>li:hover>a {
	color: #FAA432;
}

/* 
/* Mini Cart Style */
.header-shop-cart .header-mini-cart {
	background: #fff;
	opacity: 0 !important;
	padding: 25px;
	position: absolute;
	right: 10px;
	top: 60px;
	transition: all 0.5s ease 0s;
	width: 350px;
	z-index: 9;
	box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
	visibility: hidden;
	transform: translateY(10px);
}
.header-shop-cart .header-mini-cart::before {
	position: absolute;
	content: '';
	left: 0px;
	top: -30px;
	width: 100%;
	height: 45px;
	display: block;
}
.header-shop-cart:hover .header-mini-cart {
	opacity: 1 !important;
	visibility: visible;
	transform: translateY(0px);
	z-index: 9;
}
.header-shop-cart .woocommerce-mini-cart__empty-message {
	margin-bottom: 0;
}
.header-shop-cart .header-mini-cart .woocommerce-mini-cart > li {
	margin-bottom: 20px;
	margin-left: 0;
	padding: 0;
}
.header-shop-cart .woocommerce-mini-cart .checkout-link {
    margin-top: 35px;
}
.header-mini-cart ul li.woocommerce-mini-cart-item .remove.remove_from_cart_button {
	display: block;
	font-weight: 700;
	order: 2;
	flex: 0 0 1em;
	background: #f1f1f1;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1;
	border-radius: 100%;
	color: red !important;
	text-decoration: none;
	margin-left: auto;
	border: 0;
}
.header-mini-cart ul li.woocommerce-mini-cart-item .remove.remove_from_cart_button:hover {
	background: red;
	color: #fff !important;
}
.header-shop-cart .woocommerce-mini-cart .mini-cart-img {
    width: 90px;
    flex: 0 0 90px;
}
.woocommerce-mini-cart .mini-cart-img img.attachment-woocommerce_thumbnail {
	width: 100%;
	margin: 0;
}
.header-shop-cart .woocommerce-mini-cart .mini-cart-content {
    padding-left: 15px;
    text-align: left;
    padding-right: 25px;
    width: 176px;
    flex: 0 0 176px;
}
.woocommerce-mini-cart .mini-cart-content .product-title {
    color: #222222;
    font-size: 16px;
    background: none;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
}
.mini-cart-price {
	display: flex;
	align-items: center;
	font-weight: 500;
}
.woocommerce-mini-cart .mini-cart-price > span {
	color: #faa432;
	font-size: 16px;
	font-weight: 500;
	margin-left: 5px;
	display: block;
}
.header-shop-cart .woocommerce-mini-cart .del-icon {
    flex-grow: 1;
    margin-top: 30px;
}
.header-shop-cart .woocommerce-mini-cart .del-icon a {
	color: #777777;
}
.woocommerce-mini-cart .del-icon > a {
	font-size: 18px;
}
.total-price {
    border-top: 1px solid #c7c7c7;
    overflow: hidden;
    padding-top: 20px;
    margin-top: 25px;
}
.total-price > span {
    color: #222222;
    font-weight: 600;
}
.header-shop-cart .header-mini-cart .checkout-link {
	margin-bottom: 0;
}
.header-shop-cart .header-mini-cart .checkout-link a {
	color: #fff;
	background: #0D9B4D;
	display: block;
	font-weight: 500;
	padding: 16px 30px;
	text-align: center;
	font-size: 14px;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.5;
	border-radius: 0;
}
.header-shop-cart .header-mini-cart .checkout-link a:not(.checkout) {
	background: #222;
	color: #fff;
}
.header-shop-cart .header-mini-cart .checkout-link a:last-child {
	margin-bottom: 0;
}
.header-mini-cart .woocommerce-mini-cart__total {
	padding: 15px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 1px solid #c7c7c7;
	margin-bottom: 0;
	color: #777;
}
.header-mini-cart .woocommerce-mini-cart__total .woocommerce-Price-amount {
	color: #777;
	font-weight: bolder;
} */

/* 3. Mobile-menu */
.nav-outer .mobile-nav-toggler {
	position: relative;
	float: right;
	font-size: 40px;
	line-height: 50px;
	cursor: pointer;
	display: none;
	color: #fff;
	margin-right: 30px;
	top: 15px;
}
.nav-logo img {
	width: 8%;
}
.mobile-menu {
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	padding-right: 30px;
	max-width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	border-radius: 0px;
	transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-webkit-transform: translateX(101%);
	-ms-transform: translateX(101%);
	transform: translateX(101%);
}
.mobile-menu .navbar-collapse {
	display: block !important;
}
.mobile-menu .nav-logo {
	position: relative;
	padding: 30px 25px;
	text-align: left;
}
.mobile-menu-visible {
	overflow: hidden;
}
.mobile-menu-visible .mobile-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu-visible .mobile-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mobile-menu-visible .mobile-menu .menu-box {
    opacity: 1;
    visibility: visible;
}
.mobile-menu .navigation li.current>a:before {
	height: 100%;
}
.search-backdrop,
.menu-backdrop {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	transition: all .3s linear;
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	opacity: 0;
	visibility: hidden;
	background: #000;
}
.mobile-menu-visible .menu-backdrop {
	opacity: 0.65;
	visibility: visible;
}
.mobile-menu .menu-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	padding: 0px 0px;
	z-index: 5;
	box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}
.mobile-menu-visible .mobile-menu .menu-box {
	opacity: 1;
	visibility: visible;
}
.mobile-menu .close-btn {
    position: absolute;
    right: 15px;
    top: 28px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    color: #FAA432;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}
.mobile-menu-visible .mobile-menu .close-btn {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.mobile-menu .navigation {
	position: relative;
	display: block;
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}
.mobile-menu .navigation li {
	position: relative;
	list-style: none;
	display: block;
	border-top: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation:last-child {
	border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation li > ul > li:first-child {
	border-top: 1px solid rgb(0 0 0 / 10%);
}
.mobile-menu .navigation li > a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 60px 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
}
.mobile-menu .navigation li ul {
	margin: 0;
	padding: 0;
}
.mobile-menu .navigation li ul li {
	list-style: none;
}
.mobile-menu .navigation li ul li > a {
	font-size: 15px;
	margin-left: 20px;
	text-transform: capitalize;
}
.mobile-menu .navigation li ul li ul li a {
    margin-left: 40px;
}
.mobile-menu .navigation li ul li ul li ul li a {
    margin-left: 60px;
}
.mobile-menu .navigation li > a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
	position: absolute;
	right: 15px;
	top: 6px;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: #222;
	background: #efefef;
	cursor: pointer;
	border-radius: 2px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	z-index: 5;
}
.mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
	display: none;
}
.mobile-menu .social-links ul {
    display: flex;
    position: relative;
    text-align: center;
    padding: 30px 20px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mobile-menu .social-links li {
    position: relative;
    display: inline-block;
    margin: 0px 6px 10px;
}
.mobile-menu .social-links li a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: relative;
	line-height: 32px;
	font-size: 16px;
	color: #222;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 1px solid #efefef;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.mobile-menu .social-links li a:hover {
	border-color: #0D9B4D;
	background: #0D9B4D;
	color: #fff;
}
.menu-area .mobile-nav-toggler {
	position: relative;
    float: right;
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #0D9B4D;
	color: #fff;
	border-radius: 50%;
	font-size: 25px;
	cursor: pointer;
	margin-top: -2px;
}



/* 5. Breadcrumb */
.breadcrumb-bg {
	
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 230px 0 150px;
	z-index: 1;
}
.breadcrumb-bg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #090909;
	opacity: 0;
	z-index: -1;
}
.breadcrumb-bg::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	/*background-image: url("../img/bg/testimonial_bottom_shape.png");*/
	width: 100%;
	height: 36px;
	background-repeat: repeat;
	background-position: center;
	z-index: 1;
}
.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	justify-content: center;
	height: 0.01px;
}
.breadcrumb-content {
	position: relative;
	z-index: 4;
}
.breadcrumb-content .title {
    font-size: 80px;
    line-height: 1.2;
    color: #ffffff;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.breadcrumb li {
	display: block;
	font-size: 35px;
	color: #000000;
	line-height: 1.4;
}
.breadcrumb li a {
	color: #000000;
}
.breadcrumb-item + .breadcrumb-item::before {
	padding-right: 15px;
	padding-left: 15px;
	color: rgb(0, 0, 0)e0e;
	content: "|";
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}



/* 9. Features Products */
.features-products {
	padding: 150px 0 150px;
	position: relative;
}
.features-products-wrap {
	margin-bottom: 180px;
}
.features-products-wrap:last-child {
	margin: 0 0;
}
.features-products-thumb {
	position: relative;
	text-align: center;
	margin: 0px 137px 0px 212px;
}
.features-products-thumb::before {
	content: "";
	position: absolute;
	left: 38%;
	top: 50%;
	/*background-image: url(../img/products/features_product_dots.png);*/
	width: 706px;
	height: 706px;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-50%, -50%);
}
.features-products-thumb .shape-img {
	position: absolute;
	bottom: 13px;
	left: -135px;
	z-index: -1;
	transition: .35s linear;
}
.features-product-content {
	width: 81%;
}
.features-product-content .title {
	font-size: 50px;
	margin-bottom: 0;
}
.features-product-content .title::after {
	content: "";
	display: block;
	/*background-image: url(../img/others/title_shape.svg);*/
	width: 79px;
	height: 14px;
	background-repeat: no-repeat;
	margin: 18px 0 33px;
}
.features-product-quantity {
	font-size: 16px;
	text-transform: inherit;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0 0 24px;
}
.features-product-bottom {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 55px 0 0;
}
.features-product-bottom .price {
	font-size: 28px;
	font-weight: 700;
	color: #222222;
	font-family: 'Oswald', sans-serif;
	display: block;
	margin-left: 30px;
}
.features-product-bottom .old-price {
	font-size: 20px;
	color: #FAA432;
	margin-left: 15px;
	text-decoration: line-through;
}
.features-products-thumb .main-img {
	display: inline-block;
	position: relative;
}
.features-products-thumb .main-img::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 7px;
	width: 230px;
	height: 46px;
	background: #464646;
	filter: blur(30px);
	border-radius: 99px;
	z-index: -1;
}
.features-products-wrap:nth-child(even) .row {
	flex-direction: row-reverse;
}
.features-products-wrap:nth-child(even) .features-product-content {
	margin-left: auto;
}
.features-products-wrap:nth-child(even) .features-products-thumb {
	margin: 0px 200px 0px 143px;
}
.features-products-wrap:nth-child(even) .features-products-thumb .shape-img {
	bottom: 27px;
	left: auto;
	right: -91px;
}
.features-products-wrap:nth-child(even) .features-products-thumb::before {
	left: 74%;
	top: 40%;
	transform: translate(-50%, -50%);
}
.features-products-wrap .features-products-thumb:hover .shape-img {
	transform: translateX(15px);
}
.features-products-wrap:nth-child(even) .features-products-thumb:hover .shape-img {
	transform: translateX(-15px);
}
.features-products-wrap:nth-child(3n+3) .features-products-thumb {
	margin: 0px 138px 0px 168px;
}
.features-products-wrap:nth-child(3n+3) .features-products-thumb .shape-img {
	left: -122px;
}

/* 10. Shop */
.home-shop-area {
	padding: 0 0 150px;
}
.home-shop-item {
	background: #fff;
	box-shadow: 0px 15px 26px rgba(173, 185, 202, 0.17);
	margin: 106px 0 50px;
	padding: 0 40px 40px;
}
.home-shop-thumb {
	text-align: center;
	position: relative;
	max-width: 205px;
	margin: 0 auto 45px;
	z-index: 1;
}
.home-shop-thumb > a {
    text-align: left;
    width: 100%;
    min-height: 190px;
    align-items: flex-start;
    margin: -106px auto 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
}
.home-shop-thumb img {
	display: inline-block;
	height: 190px;
	object-fit: contain;
	max-width: 180px;
	object-position: top;
}
.shop-thumb-shape {
	position: absolute;
	width: 100%;
	height: 103px;
	left: 0;
	bottom: -11px;
	background: #A3D86D;
	border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: -1;
}
.shop-thumb-shape.yellow {
	background: #F0DE5A;
}
.shop-thumb-shape.purple {
	background: #996BAC;
}
.shop-thumb-shape.gray {
	background: #DEDEDD;
}
.shop-thumb-shape.blue {
	background: #25A1D0;
}
.home-shop-content .title {
	font-size: 20px;
	margin-bottom: 20px;
	width: 300px;
}
.home-shop-price {
	font-size: 20px;
	display: block;
	letter-spacing: 0.02em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #222;
	line-height: 1;
	margin: 0 0 30px;
}
.home-shop-rating {
	display: flex;
	align-items: center;
	color: #FAA432;
	letter-spacing: 3px;
	line-height: 1;
}
.home-shop-rating .total-rating {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	color: #777777;
	margin-left: 10px;
}
.shop-content-bottom {
	display: flex;
	align-items: center;
	margin-top: 35px;
}
.shop-content-bottom .cart {
	width: 40px;
	height: 40px;
	display: flex;
	flex: 0 0 50px;
	align-items: center;
	justify-content: center;
	background: #0D9B4D;
	color: #fff;
	border-radius: 50%;
	font-size: 20px;
}
.shop-content-bottom .btn {
	padding: 15px 38px;
	font-size: 14px;
	margin-left: 15px;
	opacity: 0;
	display: flex;
	visibility: hidden;
}
.shop-content-bottom .cart:hover {
	background: #FAA432;
}
.home-shop-item:hover .shop-content-bottom .btn {
	opacity: 1;
	visibility: visible;
}
.home-shop-thumb .discount {
	position: absolute;
	top: 0;
	right: -40px;
	z-index: 1;
	background: #FD4B4B;
	border-radius: 3px;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	padding: 4px 11px;
	line-height: 1;
}
.related-product-active [class*="col-"],
.home-shop-active [class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}
.related-product-active .slick-arrow,
.home-shop-active .slick-arrow {
	position: absolute;
	top: calc(50% - 43px);
	transform: translateY(-50%);
	left: -100px;
	background: transparent;
	border: none;
	padding: 0 0;
	font-size: 50px;
	color: #222222;
	z-index: 2;
	display: block;
	width: auto;
	line-height: 1;
}
.related-product-active .slick-arrow.slick-next,
.home-shop-active .slick-arrow.slick-next {
	left: auto;
	right: -100px;
}
.related-product-active .slick-arrow::before,
.home-shop-active .slick-arrow::before {
	content: "";
	position: absolute;
	left: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 55px;
	height: 55px;
	background: #0D9B4D;
	opacity: .3;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	z-index: -1;
}
.related-product-active .slick-arrow.slick-next::before,
.home-shop-active .slick-arrow.slick-next::before {
	left: auto;
	right: -25px;
}
.related-product-active .slick-dots,
.home-shop-active .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0;
	padding: 0 0;
}
.related-product-active .slick-dots li,
.home-shop-active .slick-dots li {
	list-style: none;
	line-height: 1;
	margin: 0 5px;
}
.related-product-active .slick-dots li button,
.home-shop-active .slick-dots li button {
	border: none;
	padding: 0;
	text-indent: -99999px;
	width: 10px;
	height: 10px;
	background: #FAA432;
	opacity: .3;
	border-radius: 50%;
	display: block;
	line-height: 1;
}
.related-product-active .slick-dots li.slick-active button,
.home-shop-active .slick-dots li.slick-active button {
	box-shadow: 0px 3px 3px rgba(250, 164, 50, 0.22);
	border-radius: 5px;
	width: 20px;
	opacity: 1;
}
.related-product-active .slick-arrow:hover::before,
.home-shop-active .slick-arrow:hover::before {
	opacity: 1;
}


/* inner-shop */
.inner-shop-details-area,
.inner-shop-area {
	padding: 150px 0 50px;
}
.inner-shop-area .shop-top-wrap {
    border: 1px solid #f1f1f1;
    padding: 15px 22px;
    margin-bottom: 50px;
}
.inner-shop-area .shop-top-left p {
    margin-bottom: 0;
    float: unset;
}
.inner-shop-area .shop-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 185px;
    margin-left: auto;
}
.inner-shop-area .shop-top-right form select {
    border: none;
    outline: none;
    color: #777777;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
}
.inner-shop-item {
    margin-bottom: 30px;
}
.inner-shop-content {
	width: 300px;
    text-align: left;
    border: 1px solid #efefef;
    padding: 25px 20px 25px;
}
.inner-shop-thumb img {
    width: 100%;
}
.inner-shop-content .inner-shop-rating li {
    font-size: 16px;
    letter-spacing: -1px;
    margin-bottom: 7px;
    color: #ffb400;
}
.inner-shop-content .title {
    font-size: 20px;
    color: #1f2029;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.inner-shop-content .title a:hover {
    color: #0D9B4D;
}
.inner-shop-content .price-wrap {
    font-size: 16px;
    color: #0D9B4D;
    font-weight: 600;
    display: block;
    line-height: 1.3;
    margin-left: 20px;
    text-align: right;
}
.shop-sidebar .widget {
    margin-bottom: 50px;
}
.shop-sidebar .widget:last-child {
    margin-bottom: 0;
}
.shop-sidebar .widget .sidebar-title {
    font-size: 18px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 25px;
    padding-bottom: 20px;
	text-transform: uppercase;
}
.lp-post-thumb > a {
    display: block;
    width: 85px;
    height: 85px;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}
.lp-post-thumb img {
	max-width: 100%;
	max-height: 100%;
}
.lp-post-list .lp-post-item li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
.lp-post-content {
	margin-left: 15px;
	flex-grow: 1;
}
.lp-post-content > .lp-post-rating > li {
    font-size: 10px;
    margin-bottom: 10px;
    color: #ffb400;
    letter-spacing: 1.5px;
}
.lp-post-content .title {
    font-size: 18px;
    margin-bottom: 6px;
	margin-top: 6px;
    text-transform: uppercase;
}
.lp-post-content .title a:hover {
    color: #FAA432;
}
.lp-post-content .price {
    font-size: 16px;
    color: #0D9B4D;
    font-weight: 600;
    display: block;
    line-height: 1;
}
.widget .Product-tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -10px;
}
.Product-tag-list li a {
    color: #222;
    font-size: 14px;
    padding: 6px 17px;
    border-radius: 0;
    display: inline-block;
    transition: 0.3s;
    margin-right: 6px;
    margin-bottom: 10px;
    background: #f5f5f5;
    font-weight: 500;
}
.Product-tag-list li a:hover {
    background: #0D9B4D;
    color: #fff;
}
.shop-widget-banner img {
    max-width: 100%;
}
.widget.shop-widget-banner {
    text-align: center;
}
.inner-shop-item.home-shop-item {
	margin: 0 0 50px;
	padding: 20px 20px 20px;
}
.inner-shop-item .home-shop-thumb > a {
    margin: 0 auto 0;
}
.inner-shop-item .home-shop-thumb {
	margin: 0 auto 25px;
}
.inner-shop-item .shop-item-cat {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 9px;
	line-height: 1;
}
.inner-shop-item .shop-item-cat a {
	display: block;
	font-weight: 500;
	color: #777777;
}
.inner-shop-item .shop-item-cat a:hover {
	color: #FAA432;
}
.inner-shop-item .home-shop-content .title {
	margin-bottom: 15px;
}
.inner-shop-item .shop-content-bottom {
	margin-top: 30px;
}
.inner-shop-item .home-shop-price {
	margin: 0 0 25px;
}
.inner-shop-item .home-shop-thumb .discount {
	top: -20px;
	right: -20px;
}
.inner-shop-details-content .title {
	font-size: 44px;
	margin-bottom: 8px;
}

/* inner-shop-details */
.inner-shop-details-content {
    padding-left: 20px;
}
.inner-shop-details-img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.inner-shop-details-img img {
    max-width: 60%;
}
.inner-shop-details-img-wrap {
	margin-bottom: 15px;
	background: #ffffff;
}
.inner-shop-details-nav-wrap .nav-tabs .nav-link {
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	margin-bottom: 0;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inner-shop-details-nav-wrap .nav-tabs img {
    max-width: 100%;
}
.inner-shop-details-nav-wrap .nav-tabs {
    border: none;
    flex-wrap: nowrap;
    margin-left: -7px;
    margin-right: -7px;
}
.inner-shop-details-nav-wrap .nav-tabs .nav-item {
    padding-left: 2px;
    padding-right: 2px;
}
.inner-shop-details-content .product_title {
    font-size: 36px;
    margin-bottom: .3em;
    font-weight: 500;
}
.inner-shop-content-top .star-rating {
    display: none;
}
.inner-shop-details-review {
    display: flex;
    align-items: center;
}
.inner-shop-details-meta ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.inner-shop-details-meta ul li {
    font-size: 20px;
    color: #777777;
    padding-right: 15px;
    margin-right: 15px;
    position: relative;
    margin-top: 11px;
}
.inner-shop-details-meta ul li::before {
    content: "|";
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    color: #dadada;
}
.inner-shop-details-meta ul li:last-child::before {
    display: none;
}
.inner-shop-details-meta ul li a,
.inner-shop-details-meta ul li span {
    color: #696868;
    font-weight: 500;
}
.inner-shop-details-meta ul li.inner-shop-details-review .rating {
    font-size: 12px;
    letter-spacing: -1px;
    color: #ff9b26;
    margin-right: 8px;
}
.inner-shop-details-price {
    display: flex;
    align-items: center;
    margin: 18px 0 18px;
}
.inner-shop-details-price .woocommerce-Price-amount,
.inner-shop-details-price del,
.inner-shop-details-price ins {
    font-size: 26px;
    font-weight: 700;
    line-height: .9;
    margin-bottom: 0;
    color: #222222;
}
.inner-shop-details-price del,
.inner-shop-details-price del .woocommerce-Price-amount {
    opacity: .5;
    margin-right: 10px;
    color: #777777;
}
.inner-shop-details-price del .woocommerce-Price-amount {
    margin-right: 0;
}
.inner-shop-details-price .stock-status {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 900;
    margin-left: 15px;
    text-transform: uppercase;
    color: #0D9B4D;
}
.inner-shop-details-list {
    margin: 28px 0 32px;
}
.inner-shop-details-list ul li {
    padding-left: 22px;
    position: relative;
    font-size: 15px;
    color: #777777;
    margin-top: 5px;
    font-weight: 500;
}
.inner-shop-details-list ul li > span {
    color: #696868;
    margin-left: 5px;
    font-weight: 400;
}
.inner-shop-details-list ul li::before {
    content: "\f0a9"; /* Unicode for check icon in FontAwesome 4 */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: "FontAwesome";
    font-weight: 700;
    color: #0D9B4D;
    font-size: 14px;
}
.inner-shop-perched-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cart-btn,
.inner-shop-perched-info > .cart-btn {
    display: inline-flex;
    align-items: center;
    border: 1px solid #0D9B4D;
    background: #0D9B4D;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    padding: 12px 16px;
    min-width: 145px;
    justify-content: center;
    margin-bottom: 12px;
    margin-right: 12px;
    text-transform: uppercase;
}
.inner-shop-perched-info > .wishlist-btn {
    margin-bottom: 12px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background: #0D9B4D;
    color: #fff;
    border-radius: 5px;
}
.inner-shop-perched-info > .wishlist-btn:hover {
    background: #FAA432;
}
.inner-shop-perched-info > .cart-btn:hover {
    background: #FAA432;
    border-color: #FAA432;
    color: #fff;
}
.inner-shop-details-bottom {
    margin-top: 23px;
    padding-top: 23px;
    border-top: 1px solid #ebebeb;
    font-size: 16px;
}
.inner-shop-details-bottom > span {
    display: block;
    margin-bottom: 10px;
    color: #777777;
    font-weight: 500;
    margin-right: 5px;
}
.inner-shop-details-bottom > span:last-child {
    margin-bottom: 0;
}
.inner-shop-details-bottom > span > span {
    font-weight: 500;
    margin-left: 55px;
}
.inner-shop-details-bottom span a {
    color: #777777;
    margin-left: 5px;
    border: 1px solid #ebebeb;
    font-weight: 400;
    padding: 3px 10px;
    font-size: 14px;
    margin-bottom: 8px;
    margin-right: 3px;
    border-radius: 5px;
    display: inline-block;
}
.inner-shop-details-bottom span a:hover {
    color: #fff;
    background: #0D9B4D;
    border-color: #0D9B4D;
}
.product-desc-wrap {
    padding-top: 85px;
}
.product-desc-wrap .nav-tabs {
    border-bottom: 1px solid #ebebeb;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.product-desc-wrap .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    background: transparent;
    color: #696868;
    padding: 0 0 12px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
}
.product-desc-wrap .nav-tabs .nav-link.active {
    color: #222222;
}
.product-desc-wrap .nav-tabs .nav-item {
    margin: 0 55px 0 0;
}
.product-desc-wrap .nav-tabs .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background: #0D9B4D;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
}
.product-desc-wrap .nav-tabs .nav-item .nav-link.active::after {
    opacity: 1;
}
.product-desc-content table {
    margin-bottom: 0;
}
.product-desc-content .title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 17px;
}
.product-desc-content p {
    font-size: 20px;
    margin-bottom: 25px;
}
.product-desc-list {
    margin-bottom: -4px;
}
.product-desc-list li {
    font-size: 20px;
    margin-bottom: 8px;
    position: relative;
    margin-left: 15px;
}
.product-desc-list li::before {
    content: "";
    position: absolute;
    left: -15px;
    height: 5px;
    width: 5px;
    background: #222222;
    top: 9px;
    border-radius: 50%;
}
.product-desc-list li:last-child {
    margin-bottom: 0;
}
.related-products-wrap > .title {
    margin-bottom: 50px;
    font-size: 35px;
}
.product-desc-content .table-sm td,
.product-desc-content .table-sm th {
    padding: 13px 25px;
    border: 1px solid #ebebeb;
}
.product-desc-content .table-sm th {
    color: #222;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
	width: 20%;
}
.product-desc-content .table-sm td {
    color: #777777;
    font-weight: 500;
    font-style: italic;
}
.reviews-comment .review-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}
.review-img {
    margin-right: 20px;
    width: 100px;
    flex: 0 0 100px;
}
.review-img img {
    border-radius: 50%;
}
.review-rating li {
    color: #ff9b26;
    letter-spacing: -1px;
    font-size: 13px;
    margin-bottom: 7px;
}
.review-meta h6 {
    color: #222;
    font-size: 17px;
    margin-bottom: 8px;
}
.review-meta h6 span {
    color: #777777;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}
.reviews-comment .review-content p {
    margin-bottom: 0;
}
.add-review .title {
    font-size: 26px;
    color: #222222;
    margin-bottom: 25px;
	text-transform: uppercase;
}
.add-review {
    margin-top: 55px;
    padding-top: 35px;
    border-top: 1px solid #ebebeb;
}
.add-review form {
    padding: 55px 50px 60px;
    background: #f7f7f7;
}
.add-review p {
    font-size: 16px;
}
.add-review p span {
    color: #0D9B4D;
}
.add-review .from-grp {
    margin-bottom: 25px;
}
.add-review .from-grp label,
.form-rating label {
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    margin-bottom: 6px;
}
.add-review .from-grp label span {
    color: #0D9B4D;
}
.add-review .from-grp input,
.add-review .from-grp textarea {
    width: 100%;
    border: 1px solid #f4f4f4;
    padding: 15px 25px;
    display: block;
}
.add-review .checkbox-grp input {
    width: auto;
    margin-top: 0;
    margin-right: 10px;
}
.add-review .checkbox-grp label {
    margin-bottom: 0;
}
.add-review .checkbox-grp {
    display: flex;
}
.form-rating {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.form-rating label {
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-right: 10px;
}
.form-rating ul li {
    transition: .3s linear;
    letter-spacing: -1px;
    display: inline-block;
    font-size: 14px;
}
.form-rating ul li:hover {
    color: #ff9b26;
}
.add-review .from-grp textarea {
    height: 170px;
}
.from-btn {
    background-image: linear-gradient(to right, #0D9B4D 0%, #0D9B4D 50%, #0D9B4D 100%);
}
.related-products-area {
	margin: -10px 0 0;
}

/* ******** For HTML ******* */
.shop-sidebar {
	margin-left: 20px;
}
.shop-sidebar .widget {
    margin-bottom: 50px;
}
.shop-sidebar .widget:last-child {
    margin-bottom: 0;
}
.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #ebebeb none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 3px;
    margin-bottom: 20px;
    margin-left: auto;
}
.price_filter .ui-slider-range {
    background: #0d9b4d none repeat scroll 0 0;
    border-radius: 2px;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    height: 15px;
    width: 15px;
    top: 0;
    margin-top: -6px;
    background: #0D9B4D;
    border-radius: 50px;
    border: 1px solid #0D9B4D;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all:focus {
	outline: none;
	box-shadow: none;
}
.price_slider_amount {
    overflow: hidden;
    align-items: center;
    padding-top: 15px;
}
.price_slider_amount > span {
    font-size: 16px;
    font-weight: 500;
    color: #1f2029;
    text-transform: capitalize;
    margin-right: 5px;
}
.price_slider_amount > input[type="text"] {
    height: 25px;
    margin-left: 0;
    text-align: left;
    width: 66%;
    border: none;
    font-size: 16px;
    color: #1f2029;
    font-weight: 500;
}
.price_slider_amount > input[type="submit"].btn {
    margin-left: auto;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    padding: 8px 10px !important; /* Adjust the second value (horizontal padding) */
    color: #fff;
    font-size: 15px;
    text-align: center;
    background: #0D9B4D;
    font-weight: 700;
    justify-content: center;
    border-radius: 0;
}

.price_slider_amount > input[type="submit"]:hover {
    color: #fff;
    background: #faa432;
}
.shop-sidebar .widget .sidebar-title {
    font-size: 18px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px;
    padding-bottom: 20px;
	text-transform: uppercase;
}
.widget .categories-list li {
    position: relative;
    margin-bottom: 12px;
}
.widget .categories-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #0D9B4D;
}
.widget .categories-list li:last-child {
    margin-bottom: 0;
}
.widget .categories-list li a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #676666;
    margin-left: 12px;
    display: flex;
}
.widget .categories-list li a i {
    margin-left: auto;
    font-size: 12px;
    transition: .3s linear;
}
.widget .categories-list li a:hover {
    color: #0D9B4D;
}
.lp-post-list .lp-post-item li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.lp-post-content {
    margin-left: 15px;
}
.lp-post-content > .lp-post-rating > li {
    font-size: 12px;
    margin-bottom: 10px;
    color: #ffb400;
    letter-spacing: 1.5px;
}
.widget .Product-tag-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -10px;
}
.Product-tag-list li a {
    color: #282828;
    font-size: 16px;
    padding: 6px 17px;
    border-radius: 0;
    display: inline-block;
    transition: 0.3s;
    margin-right: 6px;
    margin-bottom: 10px;
    background: #f5f5f5;
    font-weight: 500;
}
.Product-tag-list li a:hover {
    background: #0D9B4D;
    color: #fff;
}
.shop-widget-banner img {
    max-width: 100%;
}
.widget.shop-widget-banner {
    text-align: center;
}
.quickview-cart-plus-minus {
    width: 116px;
    flex: 0 0 116px;
    margin-right: 12px;
    margin-bottom: 12px;
}
.quickview-cart-plus-minus {
    position: relative;
}
.quickview-cart-plus-minus input {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    height: 45px;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
    color: #282828;
    font-weight: 600;
}
.quickview-cart-plus-minus .qtybutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: #696868;
    cursor: pointer;
    border-right: 1px solid #e1e1e1;
    user-select: none;
    -moz-user-select: none;
}
.quickview-cart-plus-minus .qtybutton.inc {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #e1e1e1;
}
.quickview-cart-plus-minus .qtybutton.dec {
    font-size: 18px;
}



/* 21. Footer */
.footer-instagram {
	position: relative;
	z-index: 3;
	margin: 0 0 -95px;
}
.footer-insta-item a {
	display: block;
	position: relative;
}
.footer-insta-item a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0D9B4D;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.footer-insta-item a:hover::before {
	opacity: .8;
}
.footer-insta-item a::after {
	content: "\f16d";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	font-size: 70px;
	line-height: 1;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	opacity: 0;
}
.footer-insta-item a:hover::after {
	opacity: 1;
}
.footer-top-wrap {
	background: #0A0A0A;
	position: relative;
	padding: 195px 0 30px;
	overflow-x: hidden;
	z-index: 1;
}
.not-show-instagram .footer-top-wrap {
	padding: 120px 0 30px;
}
.footer-top-wrap::before {
	content: "";
	position: absolute;
	left: 0;
	top: -22px;
	width: 100%;
	height: 53px;
	background-image: linear-gradient(#e5f0e9, rgb(230, 250, 231), rgb(101, 104, 101));
	/* ../img//Common/footer_bg_shape.png */
	background-repeat: repeat;
	background-position: center;
	z-index: -1;
}
.footer-shape {
	position: absolute;
	z-index: -1;
}
.footer-shape.one {
	
	bottom: 30px;
}
.footer-shape.two {
	right: 0;
	bottom: 170px;
}
.footer-widget {
	margin: 0 0 50px;
}
.footer-logo {
	margin: 0 0 30px;
}
.footer-widget .footer-text {
	width: 75%;
}
.footer-widget .footer-text p {
	margin: 0 0;
	color: #fff;
	opacity: .7;
}
.footer-social {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 30px;
}
.footer-social a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1B1B1B;
	border-radius: 50%;
	color: #fff;
}
.footer-social a:hover {
	background: #0D9B4D;
}
.footer-widget .fw-title {
	font-size: 20px;
	color: #fff;
	letter-spacing: 0.02em;
	margin: 0 0 30px;
}
.footer-widget ul li {
	margin: 0 0 12px;
}
.footer-widget ul li:last-child {
	margin: 0 0;
}
.footer-widget ul li a {
	color: #fff;
	opacity: .7;
}
.footer-widget ul li a:hover {
	color: #0D9B4D;
	opacity: 1;
}
.footer-contact-wrap p {
	color: #fff;
	opacity: .7;
}
.footer-contact-wrap .list-wrap {
	margin: 30px 0 0;
}
.footer-contact-wrap .list-wrap li {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
.footer-contact-wrap .list-wrap li i {
	color: #0D9B4D;
	font-size: 18px;
	margin-right: 10px;
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+2) .footer-widget {
	padding-left: 30px;
}
.footer-widgets-wrap .row [class*="col-"]:nth-child(4n+4) .footer-widget {
	padding-left: 70px;
}
.copyright-wrap {
	background: #0A0A0A;
	border-top: 1px solid #262626;
	padding: 4px 0;
}
.copyright-text p {
	margin: 0 0;
	color: #FFFFFF;
	opacity: .9;
}


/* Footer */
.footer-two-top-wrap {
	/*background-image: url(../img/bg/footer_bg.jpg);*/
	background-position: center;
	background-size: cover;
	padding: 100px 0 50px;
}
.footer-two-top-wrap .footer-social a {
	background: #2d2d2d;
}
.footer-two-top-wrap .footer-social a:hover {
	background: #63af21;
	color: #fff;
}
.footer-two-top-wrap .footer-widget .footer-text {
	width: 100%;
}
.footer-two-top-wrap .row [class*="col-"]:nth-child(4n+2) .footer-widget {
	padding-left: 50px;
	padding-right: 30px;
}
.footer-two-top-wrap .row [class*="col-"]:nth-child(4n+4) .footer-widget {
	padding-left: 40px;
}
.footer-two-widgets-wrap .footer-widget .fw-title {
	font-size: 18px;
}
.footer-two-widgets-wrap .fw-title::after {
	content: "";
	display: block;
	width: 45px;
	height: 4px;
	background: #63af21;
	border-radius: 2px;
	margin: 10px 0 0;
}
.footer-post-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.footer-post-item:last-child {
	margin-bottom: 0;
}
.footer-post-item .thumb {
	width: 95px;
	flex: 0 0 95px;
	margin-right: 18px;
}
.footer-post-item .thumb a {
	display: block;
	width: 100%;
}
.footer-post-item .thumb img {
	border-radius: 3px;
	max-height: 80px;
	object-fit: cover;
	width: 100%;
}
.footer-post-item .content > span {
    font-size: 13px;
    color: #63af21;
    font-weight: 500;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.footer-post-item .content .title {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 1.5;
}
.footer-two-top-wrap .widget_nav_menu ul li a:hover,
.footer-post-item .content .title a:hover {
	color: #63af21;
}
.footer-two-top-wrap .widget_nav_menu ul li a {
	position: relative;
    padding-left: 20px;
	color: #c7c7c7;
	opacity: 1;
}
.footer-two-top-wrap .widget_nav_menu ul li a::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	background: #63af21;
	border-radius: 50%;
}
.footer-newsletter-wrap p {
    font-size: 14px;
    color: #c7c7c7;
    line-height: 26px;
    margin-bottom: 13px;
}
.footer-newsletter-wrap p span {
    color: #63af21;
}
.footer-newsletter-wrap form {
    position: relative;
}
.footer-newsletter-wrap form input {
	width: 100%;
	border: none;
	padding: 12px 60px 11px 25px;
	border-radius: 50px;
	font-size: 14px;
	height: 50px;
}
.footer-newsletter-wrap form input::placeholder {
	font-size: 14px;
	color: #7d7d7d;
	font-weight: 500;
	opacity: .7;
}
.footer-newsletter-wrap form button {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border: none;
	border-radius: 50%;
	width: 40px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #63af21;
	padding: 0 0;
}
.footer-confidential-wrap {
	display: flex;
	align-items: center;
	margin-top: 25px;
}
.confidential-logo {
	width: 55px;
	flex: 0 0 55px;
	margin-right: 15px;
}
.confidential-logo img {
    max-width: 100%;
}
.confidential-content .con-title {
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}
.confidential-content span {
    display: block;
    font-size: 14px;
    color: #c7c7c7;
}
.breadcrumb-bg {
    /* background-image: url(../img/wepik-export-20240211053534UVb8.jpeg); */
    background-position: center;
    background-size: cover;
    position: relative;
	height: 500px;
	width: 1375;
    /* padding: 230px 0 150px; */
    z-index: 1;
	display: flex;
}
/* Default styles */
.title {
	font-size: 24px;
  }
  
  /* Media query for screens smaller than 767px */
  @media (max-width: 767px) {
	.title {
	  font-size: 18px;
	}
  }

  .action-primary {
    display: block;
    text-align: center;
    background: #fabf3d;
    height: 40px;
    font-size: medium;
    font-weight: 700;
    color: #000;
    border-radius: 25px;
    line-height: 42px;
    transition: all .4s;
    border: 0;
    padding: 0 20px;
    cursor: pointer;
    outline: none;
}
.nav-open .upload-pr .action-primary {
    max-width: 260px;
    margin: 0 auto;
}
.upload-pr {
    display: block;
    text-align: center;
    margin-bottom: 1x;
	padding: 10px 20px;
}

  .upload-pr a:hover {
	background-color: black; /* Change background color on hover */
	color: #fff; /* Change font color on hover */
  }
  .col-12 {
	padding-left: 25px;  /* Adjust the value as needed for the left side */
	padding-right: 25px; /* Adjust the value as needed for the right side */
  }


