/*Auth pages*/
.login, .register{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.login .row, .register .row{
	min-height: 100vh;
}

.bg-register-image {
    background-image: url("../img/auth/registration.png");
    background-size: cover;
    background-position: top center;
}

.bg-login-image {
    background-image: url("../img/auth/login.png");
    background-size: cover;
    background-position: top center;
}

.bg-forgotpw-image {
    background-image: url("../img/auth/forgotpw.jpg");
    background-size: cover;
	background-attachment: fixed;
    background-position: bottom center;
}

.auth-heading {
    color: #000;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

/*Cards*/
.forgot-pw .card{
	background-color: rgba(0.0, 0.0, 0.0, 0.8);
	border-radius: 3rem;
}

/*Forms*/
.form-control{
    border: 0.1rem solid #0000006c;
    border-radius: 3.0rem;
	padding: 0.5rem;
	height: 40px;
}

.form-control::placeholder{
    text-align: center;
	font-size: 0.875rem;
}

.form-control:focus{
	border-color: rgb(13, 253, 93);
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);
}

.input-group-append{
    border-radius: 3.0rem;
}

.align-baseline{
	align-items: baseline;
}

/* button style */
.btn-custom {
	margin: 0 auto;
	width: 40%;
	user-select: none;
	-moz-user-select: none;
	background: var(--main-success) none repeat scroll 0 0;
	border: medium none;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.4;
	padding: 1rem 0.5rem;
	text-align: center;
	text-transform: capitalize;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn-custom::before {
	content: "";
	position: absolute;
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	width: 200%;
	height: 200%;
	top: 110%;
	left: 50%;
	background: var(--main-orange);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: -1;
}
.btn-custom:hover {
	color: #fff;
}
.btn-two {
	background: var(--main-orange) none repeat scroll 0 0;
}
.btn-two::before {
	background: var(--main-success);
}
.btn-custom:hover:before {
	top: -40%;
}
.breadcrumb > .active {
	color: var(--main-orange);
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}
  
.password-input i {
  position: absolute;
  top: 0%;
  right: 10px; /* Adjust the left position as needed */
  transform: translateY(-270%);
  cursor: pointer;
}

.password-input input {
  padding-left: 30px; /* Adjust the padding to make space for the icon */
}